$great-color: rgba(0, 140, 255, 0.5);
$good-color: rgba(36, 214, 0, 0.5);
$neutral-color: rgb(255, 238, 0, 0.5);
$sad-color: rgba(81, 43, 114, 0.5);
$angry-color: rgba(255, 0, 0, 0.5);
$btn-close-width: 0.75em;
$buttons-map: ( "great": $great-color, "good": $good-color, "neutral": $neutral-color, "sad": $sad-color, "angry": $angry-color, );
@import "~/node_modules/bootstrap/scss/bootstrap";
body {
    @extend .pt-5;
    @extend .mt-5;
}

@media (max-width: 978px) {
    body {
        margin-top: .5em !important;
        padding-top: .5em !important;
    }
}

main {
    @extend .container;
    >h2 {
        @extend .text-center;
        @extend .text-muted;
        @extend .mb-3;
    }
    >div {
        @extend .row;
        @extend .d-flex;
        @extend .justify-content-center;
        >div {
            @extend .col-6;
            @extend .col-sm-4;
            @extend .col-md-2;
            @extend .text-center;
            @extend .mt-3;
            >button {
                >svg {
                    fill: rgba(32, 32, 32, 0.5);
                    width: 5em;
                    height: 5em;
                }
                @extend .mb-1;
                @extend .btn;
                @extend .raise;
                transition: 0.25s;
                @each $name,
                $color in $buttons-map {
                    &.#{$name} {
                        background-color: #{$color};
                        --hover: #{$color};
                    }
                }
            }
            >span {
                @extend .text-muted;
                display: block;
            }
        }
    }
    section {
        &.feedback {
            @extend .mt-5;
            @extend .text-center;
        }
    }
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.75em 0.75em -0.4em var(--hover);
    transform: translateY(-0.75em);
}